flows.json
[{"id":"2eea1f4299885b09","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f2f2649a.0d0d98","type":"debug","z":"2eea1f4299885b09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":300,"wires":[]},{"id":"da090c31014e49f7","type":"http request","z":"2eea1f4299885b09","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/update?api_key=G28HZOKZQFENE9K6&field1={{topic}}'","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":350,"y":320,"wires":[["f2f2649a.0d0d98"]]},{"id":"33c25dc1c2b909ca","type":"function","z":"2eea1f4299885b09","name":"function 1","func":"msg.chatId = 5289397012\nmsg.payload=msg.payload\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["41701ddb3e623b13","80cdbedafe511a49"]]},{"id":"41701ddb3e623b13","type":"wiotp out","z":"2eea1f4299885b09","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"38928a9d606a3577","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"12345","x":1010,"y":200,"wires":[]},{"id":"fd7db4d5a7510c45","type":"telegram receiver","z":"2eea1f4299885b09","name":"consultjcbot","bot":"b495c35985b8cea3","saveDataDir":"","filterCommands":false,"x":170,"y":120,"wires":[["8226f4444862dce6","abe39beb15fde187"],[]]},{"id":"abe39beb15fde187","type":"function","z":"2eea1f4299885b09","name":"function 2","func":"if (msg.payload.type == \"voice\"){\n    let  prueba  = msg.payload.weblink\n    prueba = prueba.split(\":\")\n    msg.topic=prueba[2].split('/')\n    \n}\nelse{\n    msg.topic = msg.payload.content\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":240,"wires":[["da090c31014e49f7"]]},{"id":"8226f4444862dce6","type":"http request","z":"2eea1f4299885b09","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/2013619/feeds.json?api_key=E9C9I4JBQOEUSETJ&results=2","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":530,"y":120,"wires":[["d667b738f415a070","b374c0014b60a0a2"]]},{"id":"b374c0014b60a0a2","type":"debug","z":"2eea1f4299885b09","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":180,"wires":[]},{"id":"d667b738f415a070","type":"function","z":"2eea1f4299885b09","name":"function 3","func":"let prueba= JSON.parse(msg.payload)\nmsg.payload = prueba.feeds[1].field2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":60,"wires":[["33c25dc1c2b909ca","b374c0014b60a0a2"]]},{"id":"b68325c6c92386e0","type":"telegram sender","z":"2eea1f4299885b09","name":"bot","bot":"b495c35985b8cea3","haserroroutput":false,"outputs":1,"x":910,"y":480,"wires":[["4fdd61b353791da9"]]},{"id":"4fdd61b353791da9","type":"debug","z":"2eea1f4299885b09","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":360,"wires":[]},{"id":"80cdbedafe511a49","type":"function","z":"2eea1f4299885b09","name":"function 4","func":"msg.payload = {\n    chatId: msg.chatId,\n    type: \"message\",\n    content: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":480,"wires":[["b68325c6c92386e0"]]},{"id":"38928a9d606a3577","type":"wiotp-credentials","name":"12345","org":"rcqlw4","serverName":"","devType":"Iot","devId":"12345","keepalive":"60","cleansession":true,"tls":"7a05a027487769f5","usetls":false},{"id":"b495c35985b8cea3","type":"telegram bot","botname":"consultjcbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7a05a027487769f5","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""}]